@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-very-dark-grayish-blue: theme('colors.very-dark-grayish-blue');
}
body {
  font-family: 'Manrope', sans-serif;
}

.arrow-down::after {
  content: "";
  position: absolute;
  bottom: -12px; /* Triangle height */
  left: 46%;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 15px solid var(--color-very-dark-grayish-blue);
}
